
      <%= image_tag @user.image_link+'?s=200', class:'img-fluid', alt:'user pic' %>
      <%=@user.email%>
     <%=@user.email%>
      <small>Joined <%= time_ago_in_words @user.created_at %> ago</small>
      
  

    </div>
    <div class="col-md-8">
      <% if @user == current_user || @user.find_friends.any?{ |f| f==current_user}%>
      <% @user.posts.each do |p| %>
      
          Published : <%= time_ago_in_words p.created_at %> ago
          <%= p.content %>
            <% if current_user == p.author %>
            <%= link_to "Edit", edit_post_path(p), class:"btn btn-primary" %>
            <%= link_to "Delete", post_path(p), method: :delete, class:"ml-2 btn btn-danger" %>
            <%end%>
          
      <% end %>

      <% else %>
      <div class='sp'>You are not allowed to see this users posts, you need to add
        Them as afriend!</div>
      <% end %>


  