
    <h4 class="text">
      Create a new post :
    </h4>
    <%= render "form", text:'Update post'%>

    <% @posts.each do |p| %>
    
        <%= image_tag p.author.image_link+"?s=50", class:"rounded-circle" %>
        Published : <%= time_ago_in_words p.created_at %> ago
       
        <p class="text1"><%= p.content %></p>
          <% if current_user == p.author %>
          <%= link_to "Edit", edit_post_path(p), class:"btn btn-primary" %>
          <%= link_to "Delete", post_path(p), method: :delete, class:"ml-2 btn btn-danger" %>
          <%end%>
       
    <% end %>
 